<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Test 1</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">

	var test1UserAnswersObject = {};
	var test1CorrectAnswersObject = {};
	

	$('input[type=radio][name=optradio]').change(function() {
		
		$('input:radio').each(function() {
			if ($(this).is(':checked')) {
				$('#refSection').empty();
				$("#refSection").removeClass('glyphicon glyphicon-remove alert alert-danger ');
				$("#refSection").removeClass('glyphicon glyphicon-thumbs-up alert alert-success');
				
				var rightOption = Number(document.getElementById('correctAnswer').value) ;//+ 1;
				var referenceLinksArray = document.getElementById('referenceLink').value;
				var userOption = Number($(this)[0].id);
				var questionNumber = test1Counter;
				
				test1UserAnswersObject [questionNumber] = userOption;
				test1CorrectAnswersObject [questionNumber] = rightOption;
				
				if(rightOption == userOption){
					$("#refSection").addClass('glyphicon glyphicon-thumbs-up alert alert-success');
					$("#refSection").append('<strong> Good Job!</strong>');
				} else {
					var referenceLinks = referenceLinksArray.split(",");
					$("#refSection").addClass('glyphicon glyphicon-remove alert alert-danger ');
     			   $("#refSection").append('<b><em> Incorrect Option! To get more information on this please</em></b><mark> <u><a target="_blank" href="/mvcweb/resources/' + referenceLinks[0] + '.pdf">' + referenceLinks[1] + '</a></u></mark>');
     			  
				}
				if(testMode){
					$("input[type=radio]").attr('disabled', true);
				}
			}											
		});
	});
	
	function getPreviousQuestion() {
		test1Counter = test1Counter - 1;
		var qId = test1Counter;		
		var userChosenOption = test1UserAnswersObject[qId];
		if(userChosenOption == null){
			
			$("input[type=radio]").attr('disabled', false);
			$('input:radio:checked').each(function() {
				$('input:radio:checked')[0].checked = false;
			});			
		}
		if(qId == 0){
			$('#prev').hide();
		}
		if (qId >= 0) {
			$('#next').show();
			$("#refSection").empty();
			$("#refSection").removeClass('alert alert-danger glyphicon glyphicon-remove');
			$("#refSection").removeClass('glyphicon glyphicon-thumbs-up alert alert-success');
			$("#refSection").removeClass('glyphicon glyphicon-info-sign alert alert-info');
			
			//Reset the radio buttons for each question before opting		
			$('input:radio:checked').each(function() {
				$('input:radio:checked')[0].checked=false;
			});
			
			var data = test1QuestionsData[qId]; 
				$('#question').empty();
				$('#question').append('<br/><b>Question</b><br/></br> '+ "Q) " + data.question
										+ '<br/> <br/> <b>Options</b>');
				$('#qID').val(qId);
				$('#correctAnswer').val(data.correctAnswer);
				$('#referenceLink').val(data.referenceLink);
				
				jQuery.each(data.options, function(i, val) {
					$("#radioLabel" + (i + 1)).text(val);
				});
				$("input[type=radio]").attr('enabled', true);
				
				var userChosenOption = test1UserAnswersObject[qId];
				var correctAnswer = test1CorrectAnswersObject[qId];
				
				if(!(userChosenOption == null )) {
					$('#'+userChosenOption).prop('checked',true);
					$("input[type=radio]").attr('disabled', true);
					if(userChosenOption == correctAnswer ){
						$("#refSection").addClass('glyphicon glyphicon-thumbs-up alert alert-success');
						$("#refSection").append('<strong> Good Job!</strong>');
					} else {
						var referenceLinksArray = document.getElementById('referenceLink').value;
						var referenceLinks = referenceLinksArray.split(",");
						$("#refSection").addClass('glyphicon glyphicon-remove alert alert-danger ');
						
						$("#refSection").append('<b>Incorrect Option chosen earlier!To get more information on this please </b><mark> <u><a target="_blank" href="/mvcweb/resources/' + referenceLinks[0] + '.pdf">' + referenceLinks[1] + '</a></u></mark>');
					}
				}
				
				var correctOptionId = Number(data.correctAnswer);
			   	if(readOnlyMode){
					$("input[type=radio]").attr('disabled', true);
				   	$('#'+correctOptionId).prop('checked',true);
				   
				   	var referenceLinksArray = data.referenceLink;
					var referenceLinks = referenceLinksArray.split(",");
					$("#refSection").addClass('glyphicon glyphicon-info-sign alert alert-info');   						
					$("#refSection").append('<b>To get more information on this please</b><mark> <u><a target="_blank" href="/mvcweb/resources/' + referenceLinks[0] + '.pdf">' + referenceLinks[1] + '</a></u></mark>');
			   	}
				
				$('#optionsContainer').show();
				$('.tab-content').show();

				//Disable full page
			    /*$("body").on("contextmenu",function(e){
			        return false;
			    });*/

			//});
		} 

	}

	function getNextQuestion() {
		
		$('#prev').show();
		test1Counter = test1Counter + 1;
		
		var qId =test1Counter;
		var userChosenOption = test1UserAnswersObject[qId];
		
		
		if(userChosenOption == null){
			$("input[type=radio]").attr('disabled', false);
			$('input:radio:checked').each(function() {
				$('input:radio:checked')[0].checked = false;
			});
			
		}
		
		var data = test1QuestionsData[qId];
		
		var lastQuestionIdentifier = test1QuestionsData.length - test1Counter;
		if(lastQuestionIdentifier == 1){
			$('#next').hide();
		}
			$('#refSection').empty();
			$("#refSection").removeClass('alert alert-danger glyphicon glyphicon-remove');
			$("#refSection").removeClass('glyphicon glyphicon-thumbs-up alert alert-success');
			$("#refSection").removeClass('glyphicon glyphicon-info-sign alert alert-info');
			
			//Do not delete the following is reseting the user choices, so need to use with caution
			$('input:radio:checked').each(function() {
				$('input:radio:checked')[0].checked = false;
			});
			
			$('#question').empty();
			$('#question').append('<br/><b>Question</b><br/></br> '+ "Q) " +  data.question 
									+ '<br/> <br/> <b>Options</b>');
			$('#qID').val(qId);
			$('#correctAnswer').val(data.correctAnswer);
			$('#referenceLink').val(data.referenceLink);
			jQuery.each(data.options, function(i, val) {
				$("#radioLabel" + (i + 1)).text(val);
			});
			
			var userChosenOption = test1UserAnswersObject[qId];
			var correctAnswer = test1CorrectAnswersObject[qId];
			if(!(userChosenOption == null )) {
				
				$('#'+userChosenOption).prop('checked',true);
				$("input[type=radio]").attr('disabled', true);
				
				if(userChosenOption == correctAnswer ){
					$("#refSection").addClass('glyphicon glyphicon-thumbs-up alert alert-success');
					$("#refSection").append('<strong> Good Job!</strong>');
				} else {
					var referenceLinksArray = document.getElementById('referenceLink').value;
					var referenceLinks = referenceLinksArray.split(",");
					$("#refSection").addClass('glyphicon glyphicon-remove alert alert-danger ');
					
					$("#refSection").append('<b>Incorrect Option chosen earlier!To get more information on this please</b><mark> <u><a target="_blank" href="/mvcweb/resources/' + referenceLinks[0] + '.pdf">' + referenceLinks[1] + '</a></u></mark>');
				}
			}
			
			var correctOptionId = Number(data.correctAnswer);
		   	if(readOnlyMode){
				$("input[type=radio]").attr('disabled', true);
			   	$('#'+correctOptionId).prop('checked',true);
			   
			   	var referenceLinksArray = data.referenceLink;
				var referenceLinks = referenceLinksArray.split(",");
				$("#refSection").addClass('glyphicon glyphicon-info-sign alert alert-info');   						
				$("#refSection").append('<b>To get more information on this please</b><mark> <u><a target="_blank" href="/mvcweb/resources/' + referenceLinks[0] + '.pdf">' + referenceLinks[1] + '</a></u></mark>');
		   	}
			
			$('#optionsContainer').show();
			$('.tab-content').show();
			
			//Disable full page
		   /* $("body").on("contextmenu",function(e){
		        return false;
		    });*/
		
	}
</script>

</head>
<body>
	<ul>
		<input id='qID' type="hidden" name="questionId" value="">
		<input id='correctAnswer' type="hidden" name="correctAnswer" value="">
		<input id='questionId' type="hidden" name="questionId" value="">
		<input id='referenceLink' type='hidden' name='test1ReferenceLink' value=''>
		


  
		<div id="content" class="homepagetabcontent">


			<p id="question" class="small"></p>

			<div id="optionsContainer" class="nav nav-justified" scroll='auto'>
				<ul class="small">
					<div class="radio well-sm" id="radio1">
						<input type="radio" name="optradio" id="1" vertical-align='middle' /><label
							id="radioLabel1"></label>
						<div>
							<div class="radio" id="radio2">
								<input type="radio" name="optradio" id="2" /><label
									id="radioLabel2"></label>
							</div>
							<div class="radio" id="radio3">
								<input type="radio" name="optradio" id="3" /><label
									id="radioLabel3"></label>
							</div>
							<div class="radio" id="radio4">
								<input type="radio" name="optradio" id="4" /><label
									id="radioLabel4"></label>
							</div>
						</div>
					</div>
				</ul>
			</div>
			<div id="refSection">
			</div>
			<ul class="pager">
				<li><button type="button" class="btn btn-primary" id="prev"
						onclick="javascript:getPreviousQuestion();">Previous</button></li>
				<li><button type="button" class="btn btn-primary" id="next"
						onclick="javascript:getNextQuestion();">Next</button></li>
			</ul>
		</div>
		
			</ul>
</body>
</html>